@font-face{
	font-family: 'NotoSans';
	src:url('./NotoSans-Regular.ttf') format('ttf');
	font-style:normal;
}

html,body{
	width:100vw;
	height:100vh;
	font-family:'NotoSans';
}

body{
	margin:0px;
	padding:0px;
}

#flex-container{
	display:flex;
	flex-wrap: wrap;

}

#search-bar-container{
	width:100%;
	height:10vh;
	display:flex;
	justify-content: flex-end;

}

.form-group{
	display:flex;
	justify-content: center;
	align-content: center;
	margin:2vh 2vh 0 0;
}

input{
	font-family:'NotoSans';
	font-size:20px;
	width:15vw;

}

#main-content{
	display:flex;
	justify-content: center;
	align-content: center;
	width:100%;
	height:60vh;
}

#weather-info{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
	width:40%;

}

#description,#city-name{
	text-align:center;
	width:100%;
}

#description{
	font-size:24px;
}

#city-name{
	font-size:40px;
}

.weather-icon-container{
	width:100%;
	text-align:center;
}

.main-img{
	width:150px;
	height:150px;
}

#temp-container{
	display:flex;
	flex-direction: row;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
	margin:5px;

}
#temp{
	font-size:60px;
}

#flex-item-1,#flex-item-2{
	width:30%;
	margin:5px;
}

#divider{
	border-left: 3px solid black;
	margin-left:15px;
	margin-right:15px;
}

#flex-item-2{

	display: flex;
	flex-wrap:wrap;
  	justify-content: center;
  	align-items: center;
}

#feels-like,#max-temp,#min-temp{
	width:100%;
	font-size:17px;
}


#forecast-content{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
	height:30vh;
	width:100%;
}

.day-container{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: center;
	align-content: center;
	width:12vw;
	height:12vw;
	border-top:3px solid black;
	border-bottom:3px solid black;
	padding-top:1vw;
	padding-bottom:1vw;
	margin-left:1vw;
	margin-right:1vw;
	margin-bottom:0.5vw;

}

.day,.forecast-description{
	width:100%;
	text-align:center;

}

.forecast-img{
	width:6vw;
	height:6vw;
}

.forecast-min-temp,.forecast-max-temp
{
	width:47%;
	text-align:center;
}
